---
const { title } = Astro.props;
const pageTitle = "welson.net ~ " + title;
---

<!-- Site Setup -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Primary Meta Tags -->
<title>{pageTitle}</title>
<meta name="title" content={pageTitle} />
<meta
  name="description"
  content="Personal blog for Garrett Welson, a senior software engineer in the SF Bay"
/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://welson.net/" />
<meta property="og:title" content={pageTitle} />
<meta
  property="og:description"
  content="Personal blog for Garrett Welson, a senior software engineer in the SF Bay"
/>
<meta property="og:image" content="https://welson.net/img/meta_image.jpg" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://welson.net/" />
<meta property="twitter:title" content={pageTitle} />
<meta
  property="twitter:description"
  content="Personal blog for Garrett Welson, a senior software engineer in the SF Bay"
/>
<meta
  property="twitter:image"
  content="https://welson.net/img/meta_image.jpg"
/>

<!-- Mastodon Verification -->
<link rel="me" href="https://mastodon.social/@welson" />
