---
import site from "../data/site.json";
---

<ul>
  <li class="my-2">
    <span class="font-bold text-red-400">Name:</span>
    {site.name}
  </li>
  <li class="my-2">
    <span class="font-bold text-orange-400">Pronouns:</span>
    {site.pronouns}
  </li>
  <li class="my-2">
    <span class="font-bold text-yellow-400">Current Location:</span>
    {site.location}
  </li>
  <li class="my-2">
    <span class="font-bold text-emerald-400">Employer:</span>
    {site.employer}
  </li>
  <li class="my-2">
    <span class="font-bold text-blue-400">Title:</span>
    {site.jobTitle}
  </li>
  <li class="my-2">
    <span class="font-bold text-indigo-400">College:</span>
    {site.education}
  </li>
  <li class="my-2">
    <span class="font-bold text-violet-400">Coding Bootcamp:</span>
    {site.bootcamp}
  </li>
</ul>
